/*Variables*/

/*Site Navigation Bar*/
.navbar {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 98vw;
    border-radius: 15px;
    margin: 0 auto;
}

.navbar-container {
    display: flex;
    width: 98%;
    max-width: 98vw;
    justify-content: center;
}

.navbar-menu {
    display: flex;
    width: 98%;
    max-width: 98vw;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    }

.navbar-item {
    position: relative;
    margin: 0 10px;
}

.navbar-item a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.navbar-item a:hover {
    background-color: #7091E6;
}

/* Page Title Styling */
.title-h1 {
    font-family: "Playwrite AU SA";
    background-color: hsl(224, 34%, 65%);
    text-align: center;
    font-size: 3rem;
    width: 100%;
}
